.progress-bar__wrapper {
  display: block;
  margin: auto;
  margin-block-start: 1.5rem;
  position: relative;
  background: #1a2c34;
  padding: 3px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.progress-bar__value {
  display: block;
  width: 0px;
  background: #00ff00;
  position: relative;
  overflow: hidden;
  font-size: 15px;
  text-align: center;
  color: #1a2c34;
  transition: all 700ms ease;
  border-radius: 20px;
  padding-block: 0.37rem;
  font-weight: bold;
}
